article {
	z-index: 3;
	position: relative;
	display: block;
	width: 100%;

	margin-top: 100Vh;
		
	section {
		width: 100%;
		display: block;
		position: relative;
	}

	.about_us {
		background-color: #fff;
		
		#content {
			@include adaptive-value('padding-top', 95, 60, 1);
			@include adaptive-value('padding-top', 120, 95, 2);

			@include adaptive-value('padding-bottom', 119, 0, 1);
			@include adaptive-value('padding-bottom', 138, 119, 2);
			
			h1 {
				text-align: center;
				text-transform: uppercase;
				display: block;
				margin: 0 auto;
				position: relative;

				@include adaptive-value('font-size', 30, 25, 1);
				@include adaptive-value('font-size', 60, 30, 2);


				&:after {
					content: '';
					display: block;
					width: 4em;
					position: relative;
					background-color: #f4511e;
					height: 2px;
					margin: 5px auto 0;
				}
			}

			p {
				text-align: center;
				width: 90%;
				margin: 38px auto;

				@include adaptive-value('font-size', 18, 14, 1);
				@include adaptive-value('font-size', 25, 18, 2);
			}

			.flex-info {
				display: flex;
				width: 100%;
				margin-top: 57px;
				justify-content: space-between;

				.info__elem {
					display: block;
					margin: 0;

					@include adaptive-value('margin-left', 10, 5, 1);
					@include adaptive-value('margin-left', 20, 10, 2);

					@include adaptive-value('margin-right', 10, 5, 1);
					@include adaptive-value('margin-right', 20, 10, 2);

					background-color: #ebebeb;
					padding: 35px 10px 20px;

					@include adaptive-value('padding-left', 20, 10, 1);
					@include adaptive-value('padding-left', 30, 20, 2);

					@include adaptive-value('padding-right', 20, 10, 1);
					@include adaptive-value('padding-right', 30, 20, 2);

					max-width: 33.333%;
					
					@include beaut_blocks(3, .2, $AnimDelay);

					img {
						margin: 0 auto;
						max-width: 100%;
						display: block;
					}

					h6 {
						text-align: center;
						display: block;
						margin: 30px auto 0;

						@include adaptive-value('font-size', 18, 15, 1);
						@include adaptive-value('font-size', 25, 18, 2);
					}

					p {
						text-align: center;
						display: block;
						width: 100%;
						margin: 15px auto 0;

						@include adaptive-value('font-size', 14, 10, 1);
						@include adaptive-value('font-size', 20, 14, 2);
					}
				}
			}
		}
	}

	.video {
		display: flex;
		justify-content: space-around;
		background-color: #171f23;
		align-items: center;

		video,iframe {
			width: 50%;
			height: 50vh;
			/*
			&[poster] {
				display: block;
				height: 100%;
				width: 100%;
			}
			*/
		}

		.content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 50%;

			// !!!
			@include adaptive-value('padding-right', 90, 20, 1);
			@include adaptive-value('padding-right', 120, 90, 2);

			@include adaptive-value('padding-left', 90, 20, 1);
			@include adaptive-value('padding-left', 120, 90, 2);

			@include adaptive-value('padding-top', 40, 30, 1);
			@include adaptive-value('padding-top', 140, 40, 2);

			@include adaptive-value('padding-bottom', 40, 30, 1);
			@include adaptive-value('padding-bottom', 140, 40, 2);


			text-align: center;

			h1 {
				max-width: 100%;
				color: #fff;
				@include adaptive-value('font-size', 30, 25, 1);
				@include adaptive-value('font-size', 60, 30, 2);
			}

			p {
				max-width: 100%;
				@include adaptive-value('margin-top', 25, 20, 1);
				@include adaptive-value('margin-top', 40, 25, 2);

				color: #535556;

				@include adaptive-value('font-size', 14, 10, 1);
				@include adaptive-value('font-size', 30, 14, 2);
			}

			a {
				max-width: 100%;
				display: block;
				
				@include adaptive-value('margin-top', 40, 30, 1);
				@include adaptive-value('margin-top', 50, 40, 2);

				border: none;
				border-bottom: 2px solid #b11000;

				@include adaptive-value('padding-right', 30, 10, 1);
				@include adaptive-value('padding-right', 40, 30, 2);

				@include adaptive-value('padding-left', 30, 10, 1);
				@include adaptive-value('padding-left', 40, 30, 2);

				@include adaptive-value('padding-top', 15, 5, 1);
				@include adaptive-value('padding-top', 20, 15, 2);

				@include adaptive-value('padding-bottom', 15, 5, 1);
				@include adaptive-value('padding-bottom', 20, 15, 2);

				color: #fff;
				background-color: #e84c3d;

				@include adaptive-value('font-size', 14, 10, 1);
				@include adaptive-value('font-size', 40, 14, 2);
				
				
			}
		}
	}
	.our_works {
		background-color: #fff;

		#content {
			padding-top: 70px;
			text-align: center;

			h1 {
				@include adaptive-value('font-size', 30, 25, 1);
				@include adaptive-value('font-size', 60, 30, 2);
				text-transform: uppercase;
			}

			p {
				max-width: 80%;
				margin: 40px auto 0;
			}

			.our_works__nav {
				display: flex;
				justify-content: space-around;
				width: 80%;
				margin: 0 auto;
				align-items: center;
				
				@include adaptive-value('margin-top', 80, 30, 1);
				@include adaptive-value('margin-top', 100, 80, 2);

				button {
					margin: 0 5px;
					border: none;

					-webkit-transition: margin-top .0s linear .0s;
					   -moz-transition: margin-top .0s linear .0s;
					    -ms-transition: margin-top .0s linear .0s;
					     -o-transition: margin-top .0s linear .0s;
					        transition: margin-top .0s linear .0s;					
					&:after {
						content: '';
						position: relative;
						display: block;
						opacity: 0;
						background-color: #e84c3d;

						@include adaptive-value('margin-top', 8, 7, 1);
						@include adaptive-value('margin-top', 20, 8, 2);
					}

					&.active {
						&:after {
							opacity: 1;
							height: 2px;
							width: 100%;
						}
					}
				}
			}
		}

		.our_works__slider {
			position: relative;
			display: block;
			height: 89.9vh;
			width: 100%;
			margin-top: 30px;
			background-color: #fff;

			.layer {
				position: absolute;
				top: 0;
				left: 0;
				display: grid;
				grid-template-columns: repeat(1fr, 5);
				grid-template-rows: repeat(1fr, 3);
				grid-gap: 1px;

				width: 100%;
				height: 100%;

				opacity: 0;

				&.active {
					opacity: 1;
				}

				&.layer1 .layer__grid_elem {
					background-color: #e84c3d;
				}

				&.layer2 .layer__grid_elem {
					background-color: #4D3DE8;
				}

				&.layer3 .layer__grid_elem {
					background-color: #45E83D;
				}

				&.layer4 .layer__grid_elem {
					background-color: #E6E83D;
				}

				&.layer5 .layer__grid_elem {
					background-color: #E83DE6;
				}

				@for $i from 1 through 3 {
					.row#{$i} {
						grid-row-start: $i;
						grid-row-end: $i+1;
					}
				}
				@for $i from 1 through 5 {
					.column#{$i} {
						grid-column-start: $i;
						grid-column-end: $i+1;
					}
				}

				.layer__grid_elem {
					display: block;
					position: relative;
					z-index: 5;
					cursor: pointer;
					-webkit-transition: box-shadow .5s ease;
					   -moz-transition: box-shadow .5s ease;
					    -ms-transition: box-shadow .5s ease;
					     -o-transition: box-shadow .5s ease;
					        transition: box-shadow .5s ease;
					&:hover {
						z-index: 6;
						box-shadow: 0px 1px 15px #ccc,
									0px -1px 15px #ccc,
									1px 0px 15px #ccc,
									-1px 0px 15px #ccc;
					}

					img {
						max-width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	.clients {
		background-color: #1c1c1c;

		.clients__slider {
			display: block;
			position: relative;
			width: 100%;
			overflow: hidden;

			.slider__tape {
				display: block;
				position: relative;
				width: 300%;
				height: 100%;
				display: flex;
				justify-content: space-around;
				transition: all .5s ease-in-out .05s;

				.slide {
					position: relative;
					width: 33.333%;
					height: 100%;
					
					#content {
						display: flex;
						justify-content: space-around;
						height: 100%;
						padding: 0 90px;


						@include adaptive-value('padding-top', 10, 70, 1);
						@include adaptive-value('padding-top', 70, 100, 2);

						@include adaptive-value('padding-bottom', 10, 80, 1);
						@include adaptive-value('padding-bottom', 80, 90, 2);

					}
					a {
						display: flex;
						width: 20%;
						border: none;
						align-self: center;
						align-content: center;

						img {
							width: 100%;
							margin: 0 auto;
						}	
					}
					
				}
			}

			.slider__controls {
				display: block;
				position: absolute;
				top: 0;
				left: 0;

				height: 100%;
				width: 100%;
				
				#content {
					display: flex;
					justify-content: space-between;
					height: 100%;

					button {
						height: 100%;
						padding: 0 45px;
						border: none;

						img {

						}
					}
				}
			}
		}
	}

	.who_we_are {
		background-color: #fff;
		
		#content {
			.who_we_are__header {
				display: block;
				position: relative;

				margin: 0 auto;

				h1.who_we_are__header-title {
					display: block;
					position: relative;

					text-align: center;

					margin: 0 auto;
				
					&:after {
						content: "";
						display: block;
						position: relative;
						margin: 12px auto 0;
						width: 20%;
						height: 2px;


						background-color: #f4511e;
					}
				}

				p.who_we_are__header-subtitle {
					text-align: center;
				}
			}

			.members_and_skills {
				display: flex;
				justify-content: space-between;

				.members_and_skills__members {
					background-color: #ebebeb;
					margin-right: 10px;
					overflow: hidden;

					.members__slider_tape {
						display: flex;
						justify-content: space-around;

						width: 300%;
						height: 100%;

						.member {
							display: block;
							width: 33.333%;
							height: 100%;

							padding: 30px 20px 10px;

							img.member__avatar {

							}

							h3.member__Name-Surname {

							}

							p.member__style_job {

							}

							.member__contacts {
								a {
									img {

									}
								}
							}
						}
					}

					.slider__controller {
						.ctrl_dot {

						}
					}
				}

				.members_and_skills__skills {
					background-color: #ebebeb;
					margin-left: 10px;
					overflow: hidden;

					.skills__slider_tape {
						display: flex;
						justify-content: space-around;

						width: 300%;
						height: 100%;

						.skills__member_skills {
							width: 33.333%;
							height: 100%;
							h3.member_skills__title {

							}

							p.about_me {

							}

							.member_skills__skills_bar {
								display: grid;
								grid-template-columns: 1fr, 4fr 0.333fr;
								grid-template-rows: repeat(1fr, 4);

								@for $i from 1 through 4 {
									.str#{$i} {
										grid-row-start: $i;
										grid-row-end: $i+1;

										&.legend {
											grid-column-start: 1;
											grid-column-end: 2;
										}

										&.progress {
											grid-column-start: 2;
											grid-column-end: 3;
										}
									}
								}

								h6.legend {
									
								}

								progress.progress {
									width: 90%;
									height: 2px;
									background-color: #fff;

									&[value]::-webkit-progress-value {

										

										/* Reset the default appearance */
									    -webkit-appearance: none;
									    appearance: none;

										background-color: #f4511e;
										background-image: -webkit-linear-gradient(to left,
																			rgba(0, 0, 0, .25) 50%,
																			rgba(255, 255, 255, .25) 50%
	                           											   );
										background-size: 100% 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}