header {
	display: block;
	position: fixed;
	height: 100vh;
	z-index: 1;
	background-color: #353535;
	width: 100%;

	.header__slider {
		width: 100%;
		overflow: hidden;
		height: 100%;

		.slider__tape {
			display: flex;
			justify-content: space-between;
			width: 300%;
			height: 100%;
			-webkit-transition: margin-left .8s ease-in-out;
			   -moz-transition: margin-left .8s ease-in-out;
			    -ms-transition: margin-left .8s ease-in-out;
			     -o-transition: margin-left .8s ease-in-out;
			        transition: margin-left .8s ease-in-out;

			.slider__slide {
				width: 33.333%;
				height: 100%;	

				@for $i from 1 through 3 {
					&.v#{$i} {
						background-image: url("../../img/header/BG2.min.jpg");
						background-position: center left 48%;
					}
				}

				#content {
					display: flex;
					justify-content: space-around;
					flex-direction: column;
					height: 100%;
					align-content: center;
					align-items: center;
					align-self: center;
					padding: 0;

					.container {
						width: 100%;

						h1, h2, h3, h4, h5, h6, p {
							text-align: center;
						}

						h1 {
							width: 100%;
							@include adaptive-value('font-size', 72, 30, 2);
							@include adaptive-value('font-size', 50, 25, 1);
							// font-size: 72px;
						}

						h6 {
							@include adaptive-value('font-size', 36, 20, 2);
							@include adaptive-value('font-size', 20, 15, 1);
							// font-size: 36px;
							margin-top: 40px;
						}
					}
					
				}
			}	
		}

		.slider__ctrl {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.slider__ctrl_to_slide {
				padding-top: 7%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				button {
					height: 100%;
					border: none;

					&.left {
						padding: 40px;
					}
					&.right {
						padding: 40px;
					}
				}
			}
		}
	}
}