nav {
	position: fixed;
	display: block;
	
	width: 100%;
	
	z-index: 22;

	top: 0;
	left: 0;
	
	background-color: #f8f6f6;

	#content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		

		padding: 30px;
		// @include adaptive-value('padding-top', 20, 10, 1);
		// @include adaptive-value('padding-top', 40, 20, 2);

		// @include adaptive-value('padding-bottom', 20, 10, 1);
		// @include adaptive-value('padding-bottom', 40, 20, 2);

		.nav__brand {
			height: 100%;
			display: flex;
			justify-content: space-between;
			// flex: .05 1 25%;
			max-width: 320px;

			.nav__logo {
				max-width: 100%;
				margin-right: 20px;
			}

			.nav__title {
				@include adaptive-value('font-size', 20, 30, 1);
				@include adaptive-value('font-size', 30, 40, 2);
				color: #353535;
				font-family: 'BigNoodleTitling', Arial, sans-serif;
			}
		}

		button.nav__burger {
			position: relative;
			display: block;
			border: none;
			height: 40px;
			width: 40px;
			z-index: 24;

			div {
				display: block;
				position: relative;
				height: 3px;
				width: 100%;
				background-color: black;
			}

			&.passive {

				div {
					&:nth-child(1) {
						margin: 0 0 5px 0;
					}
					&:nth-child(2) {
						display: block;
						margin: 10px 0 10px;
					}
					&:nth-child(3) {
						margin: 5px 0 0;
					}
				}
			}

			&.active {

				div {

					&:nth-child(1) {
						margin: 5px 0 0 0;
						transform: rotate(45deg);
					}
					&:nth-child(2) {
						display: none;
						margin: 0;
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
						margin: 0 5px 0 0;
					}
				}
			}
		}
	}
	.nav__burger-nav {
		position: absolute;
		height: 100vh;
		overflow: hidden;
		z-index: 23;
		background-color: #fff;
		top: 0;
		right: 0;
		transition: width 1s ease 0s;

		&.passive {
			display: none;
			width: 0;
		}
		&.active {
			display: block;
			width: 100%;
		}

		#content {

			
			
		}
	}
}

